body {
  box-sizing: border-box;
}

.board {
  width: 150px;
  border: 2px solid black;
}

.row {
  display: flex;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  line-height: 50px;
}

